[D-BUS Service]
Name=org.freedesktop.DBus.TestSuiteShellEchoServiceFail
Exec=/sources/dbus-1.12.10/test/test-shell-service "this should 'fail' because of an unterminated quote
User=anyrandomuser

