[D-BUS Service]
Name=org.freedesktop.DBus.TestSuiteShellEchoServiceSuccess
Exec=/sources/dbus-1.12.10/test/test-shell-service -test "that" 'we get' back --what "we put in"
User=anyrandomuser

