[D-BUS Service]
Name=org.freedesktop.DBus.TestSuiteForkingEchoService
Exec=/sources/dbus-1.12.10/test/test-service org.freedesktop.DBus.TestSuiteForkingEchoService fork
